.initial_image {
  background-image: url("http://www.paintballromandie.ch/images/bandeau_minisite.jpg");
  height: 11em;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body {
  background-image: url("http://www.paintballromandie.ch/images/body.png");
  background-repeat: repeat;
}

.navbar-custom {
  color: #f2d12b;
  background-color: #010101;
}

a:link {
    color: #f2d12b;
}
a:visited {
    color: #f2d12b;
}
a:hover {
    color: #ffffff;
}

a:active {
    color: #b64d1e;
}

.dropdown-menu{
  background-color: BLACK;
}
