<div class="row">
  <div class="col-2 ">
    <img src="http://www.paintballromandie.ch/paintball/images/clip01.jpg" class="rounded" alt="">
  </div>
  <div class="col-10">
    <div class="card bg-secondary text-white-50">
      <div class="card-header">

          INTENSE ET COMPLET

      </div>
      <div class="card-body">
        <h5 class="card-title">
          
          Enrichissant et sain, il développe maîtrise, physique et technique

        </h5>
        <p class="card-text">

          Le Paintball est un sport dynamique qui demande aux pratiquants beaucoup de vigilance ainsi
          que des décisions et des déplacements rapides. Il requiert également du sang-froid et des réactions éclair. Le
           Paintball se base sur de nombreux déplacements d’obstacle en obstacle et des positions alertes derrière les éléments
           de décor. Des mouvements constants qui demandent un physique rapide et endurant, ainsi qu’une bonne précision et
           coordination pour viser juste. L’équipement nécessite aussi de la part du joueur une connaissance technique pour l’entretien,
          les réglages et l’optimisation du marqueur et ses accessoires.

        </p>
      </div>
    </div>
  </div>
</div>
<br>
