<div class="jumbotron bg-dark text-white jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">SPORT INTENSE ET LUDIQUE!</h1>
    <p class="lead text-justify">Apparu en Australie dans les années 70 ou les premiers marqueurs servaient à marquer le bétail à distance,
       le Paintball s’est développé durant les dernières dizaines d’années. Il fait partie des sports d’équipe modernes,
        qui répondent à la demande de sports intenses, ludiques et innovants. Basé sur le simple principe de marquer les
         joueurs adverses avec des billes de peinture biodégradable et inoffensives projetées par un lanceur à air comprimé,
        il s’est décliné en multiples variantes de jeu.</p>
  </div>
</div>
