<div class="row">
  <div class="col-2 ">
    <img src="http://www.paintballromandie.ch/paintball/images/clip03.jpg" class="rounded" alt="">
  </div>
  <div class="col-10">
    <div class="card bg-secondary text-white-50">
      <div class="card-header">

      LUDIQUE ET INNOVANT

      </div>
      <div class="card-body">
        <h5 class="card-title">

          Objectifs et environnement variés pour un renouvellement des parties

        </h5>
        <p class="card-text">

          En Paintball, les objectifs peuvent facilement être ajustés et varier d’une partie à l’autre ou
          d’un tournoi à l’autre. La manière d’aborder un nouveau scénario de jeu stimule en effet le développement
          de stratégies et de jeu d’équipe. Les variantes sont souvent inspirées de jeux simples, comme
          la prise d’un drapeau ou le fait de tenir une position, et leur mise en place peut demander un aménagement
          différent du terrain. C’est pour servir ce besoin en flexibilité que le Paintball a notamment
          adopté des obstacles gonflables et aisément déplaçables, qui sont utilisés dans les tournois et la compétition.
        </p>
      </div>
    </div>
  </div>
</div>
<br>
