<div class="row">

  <div class="col-10">
    <div class="card bg-dark text-white-50">
      <div class="card-header">
          RESPONSABLE ET SÛR
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Développé pour être sûr, il responsabilise les joueurs
        </h5>
        <p class="card-text">
          Ce sport se base pour l’essentiel sur un jeu d’équipe; que ce soit avant
          le début de la partie dans l’observation du terrain et le développement de stratégies, ou durant
          le jeu dans l’application de la stratégie et le jeu en groupe. Couvrir les déplacements d’un membre
          de l’équipe peut être décisif pour la victoire. De même, permettre de prendre des positions clé du
          terrain est aussi important que d’être à la dite position. Pour cela, la communication entre participants
          est essentielle. Ainsi comme aiment bien le rappeler les joueurs de Paintball: Un joueur peut s’illustrer
          sur un match, mais un tournoi se gagne en équipe.
        </p>
      </div>
    </div>
  </div>
  <div class="col-2 ">
    <img src="http://www.paintballromandie.ch/paintball/images/clip04.jpg" class="rounded float-right" alt="">
  </div>
</div>
<br>
